/* latin */
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v2/c4ml1n92AsfhuCq6tVsaioBd-Yi9UUM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* latin */
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v2/c4mm1n92AsfhuCq6tVsagjt47KWfXGn_Poo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
    position: relative;
}

body {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: 700;
    width: fit-content;
    padding: 5px;
    position: relative;
    left: 25px;
}

hr {
    border-top: hsl(240, 5%, 91%);
    width: 530px;
    position: relative;
    left: 5px;
}

.text {
    text-align: left;
    font-family: 'Kumbh Sans';
    font-size: 1em;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.question-section {
   margin: 5px 5px;
   text-align: left;
   margin-right: 15px;
   width: 450px;
   position: relative;
   left: 15px; 
}

.question {
    color: hsl(237, 12%, 33%);
    background-color: white;
    border: none;
}

.question:hover {
    color: hsl(14, 88%, 65%); 
    cursor: pointer;
}

.answer {
    color: hsl(240, 6%, 50%);   
    display: none;
    overflow: hidden;
}

.active {
    font-weight: bold;
}

/*SVG Graphics*/

.arrow {
    position: relative;
    bottom: 20px; 
    left: 530px; 
}
    
.arrow:hover {
    cursor: pointer;
}


/* Works Cited */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    top: 5rem;  
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
