/* latin */
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v2/c4ml1n92AsfhuCq6tVsaioBd-Yi9UUM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* latin */
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v2/c4mm1n92AsfhuCq6tVsagjt47KWfXGn_Poo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
}

body {
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 16.53%; 
    bottom: 17.09%;
    left: 19.27%; 
    right: 16.65%; 
}

p {
    font-family: 'Kumbh Sans';
    font-size: 12px;
}

h1 {
    font-family: 'Kumbh Sans';
    font-weight: 700;
    text-align: left;
}

.question {
    color: hsl(238, 29%, 16%);
    border: none;
    outline: none;
    background-color: white;
    text-align: left;
}

.question:hover {
    color: hsl(14, 88%, 65%); 
    cursor: pointer;
}

.answer {
    color: hsl(237, 12%, 33%);
    text-align: left;
}






/* Works Cited */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
